ACCESS_SECRET=access-secret-key
REFRESH_SECRET=refresh-secret-key

USER_DB_USER=user-db-user
USER_DB_PASSWORD=user-db-password
USER_DB_NAME=user-db-name

MOVIE_DB_USER=movie-db-user
MOVIE_DB_PASSWORD=movie-db-password
MOVIE_DB_NAME=movie-db-name
MOVIE_SECRET_KEY=movie-secret-key

MOVIE_LIST_DB_USER=movie-list-db-user
MOVIE_LIST_DB_PASSWORD=movie-list-db-password
MOVIE_LIST_DB_NAME=movie-list-db-name

REVIEW_DB_USER=review-db-user
REVIEW_DB_PASSWORD=review-db-password
REVIEW_DB_NAME=review-db-name
REVIEW_SECRET_KEY=review-secret-key
