annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
asgiref==3.11.1
click==8.3.1
colorama==0.4.6
Django==6.0.3
greenlet==3.3.2
grpcio==1.78.0
grpcio-tools==1.78.0
h11==0.16.0
idna==3.11
protobuf==6.33.5
psycopg2-binary==2.9.11
PyJWT==2.10.1
pydantic_core==2.41.5
setuptools==82.0.1
sqlparse==0.5.5
starlette==0.52.1
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
